@import "tailwindcss";

:root {
    --background: #ededed;
    --surface: #dddddd;
    --primary: #111111;
    
    /*@note: Persistent colors*/
    --secondary: #636363;
}

.dark {
    --background: #111111;
    --surface: #222222;
    --primary: #ededed;
}

@theme inline {
    --font-nudle: var(--font-hoolister);
    --color-background: var(--background);
    --color-surface: var(--surface);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
}
